* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-image: url(../assets/products/background1.jpg); */
  /* background-repeat: no-repeat; */
  /* background-size: contain; */
  background-color: #eee !important;
  /* font-family: 'Rancho', cursive; */
}

.navbar {
  background-color: #d3ad7f !important;
  /* color: #202020; */
}

.navbar .navbar-nav li a {
  color: #202020 !important;
}
.p-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.p-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}


.container_admin_product {
  width: 90%;
  margin: auto;
}

.container_admin_category {
  width: 80%;
  margin: auto;
}
.title_container {
  margin-inline: auto;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.title_admin {
  text-transform: capitalize;
  font-family: 'Rancho', cursive;
  font-size: 40px;
  color: #202020 !important;
  margin-bottom: 30px;
  position: relative;
  width: fit-content;
  padding: 10px;
  margin-inline: 0 !important;
  transition: all 0.3s;
}

.title_admin::after {
  content: '';
  width: 50%;
  position: absolute;
  height: 3px;
  background-color: #202020 !important;
  bottom: 0;
  right: 0;
  transition: all 0.3s;
}

.title_admin::before {
  content: '';
  width: 50%;
  position: absolute;
  height: 3px;
  background-color: #202020 !important;
  bottom: 0px;
  left: 0;
  transition: all 0.3s;
}

.title_admin:hover::after,
.title_admin:hover::before {
  width: 0%;
}

.title_product:hover::after {
  width: 0%;
}

.title_product:hover::before {
  width: 100%;
}
.title_product:hover {
  text-shadow: 0 0 10px white;
}
.title_product i {
  margin-inline: 10px;
  font-size: 50px;
  color: black;
  text-shadow: 0 0 10px white;
}

.btn_product {
  background-color: #d79860 !important;
  border: none;
  color: #202020 !important;
  font-family: 'Rancho', cursive;
  font-size: 30px;
  position: relative;
  padding: 5px 10px;
  border-radius: 6px;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  text-transform: capitalize;
}

.btn_category {
  font-size: 20px;
}
.btn_product::after {
  content: '';
  background-color: #202020;
  width: 0;
  height: 100%;
  position: absolute;
  inset: 0;
  right: 0;
  z-index: -1;
  transition: all 0.3s;
  border-radius: 6px;
}
.btn_product:hover::after {
  width: 100%;
  /* color: white; */
  /* background-color: white; */
  text-decoration: none;
  border-radius: 6px;
}

.btn_product:hover {
  text-decoration: none;
  color: #f29a44 !important;
  border-radius: 6px;
}

table {
  text-transform: capitalize;
  border-collapse: collapse;
  /* background-color: #e2e2e2 !important;
  border-color: #20202029 !important; */
}

td,
th {
  /* padding: 30px; */
  /* border: 1px solid #20202029; */
  vertical-align: middle !important;
  font-size: 20px;
}

.container_page_num {
  text-align: center;
  margin-top: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  margin-inline: auto;
}

.num_page,
.num_page_active {
  background-color: #796449ac;
  display: block;
  margin-inline: 25px;
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-family: 'Rancho', cursive;
  font-weight: 600;
  color: white;
}
.num_page:hover {
  color: #202020;
  text-decoration: none;
}

.num_page_active {
  background-color: #202020;
  /* color: black; */
  box-shadow: 0 0 30px rgb(255, 255, 255);
}
.btn_delete {
  color: red !important;
  font-size: 20px;
}

/* .btn_delete:hover {
  color: rgb(255, 0, 0) !important;
} */

.btn_edit {
  color: rgb(250, 185, 65) !important;
  font-size: 20px;
}

.add_form {
  width: 50%;
  margin: auto;
}

.add_form_btns {
  text-align: right;
}

#Add_form .container_input {
  display: flex !important;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

#Add_form .container_input label {
  width: 120px;
  text-transform: capitalize;
  font-size: 18px;
}

#Add_form .container_input select,
#Add_form .container_input option {
  width: 100%;
  padding: 5px;
  border-radius: 6px;
}

#Add_form .container_input input {
  text-transform: capitalize;
  border-radius: 6px;
}

.container_btn_form_submit {
  text-align: right;
}

/* .Add_Products {
  margin-top: 100px;
} */

.container_form_add_product {
  width: 80%;
  margin-right: auto;
}
